$clr-dark-element: hsl(209, 23%, 22%);
$clr-dark-bg: hsl(207, 26%, 17%);
$clr-dark-text: hsl(0, 0%, 100%);

$clr-light-text: hsl(200, 15%, 8%);
$clr-light-input: hsl(0, 0%, 52%);
$clr-light-bg: hsl(0, 0%, 98%);
$clr-light-element: hsl(0, 0%, 100%);

$font-family: "Nunito Sans", sans-serif;
$fs-home: 1.4rem;
$fs-detail: 1.6rem;

/*
Colors need:
    element-bg
    main-bg
    text
    input-text
*/
